@import url("./lib/css/app.css");
@import url("./theme.css");

@font-face {
    font-family: "Space Grotesk";
    src: url("../assets/font/SpaceGrotesk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    outline: none;
    color: var(--_-c);
    transition: background var(--_-tr-spd), color var(--_-tr-spd);
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0.75rem;
    width: 5px;
    height: 5px;
    transition-duration: 0.4s;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #76767644;
    border-radius: 0.75rem;
    width: 5px;
    height: 5px;
    transition-duration: 0.4s;
}

*::-webkit-scrollbar {
    background-color: #0000;
    border-radius: 0.75rem;
    width: 5px;
    height: 5px;
    transition-duration: 0.4s;
}

body, #root {
    width: 100vw;
    height: 100vh;
    background: var(--_-bg_c);
    color: var(--_-c);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

i.fa-regular {
    width: 1em;
}

section.navbar {
    width: 100%;
    height: 2em;
    min-height: 2em;
    max-height: 2em;
    border-bottom: solid 0.9px hsla(0, 0%, 80%, 0.2);
    -webkit-app-region: drag;
}

section.navbar .container {
    position: absolute;
    top: 0.45rem;
    left: 0.6rem;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 1rem;
}

section.navbar .container.end {
    position: absolute;
    top: 0.45rem;
    right: 0.6rem;
    left: auto;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 1rem;
}

section.navbar .container .control {
    grid-template-columns: repeat(3, 0.8rem);
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    display: flex;
    flex-direction: row;
}

section.navbar .container.end .control {
    display: flex;
    flex-direction: row-reverse;
}

section.navbar .container .control button {
    color: #353535;
    vertical-align: middle;
    user-select: none;
    appearance: none;
    display: inline-flex;
    border-radius: 0;
    outline: 0;
    justify-content: center;
    align-items: center;
    z-index: 200;
    -webkit-app-region: no-drag;
    border: none;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;
    text-align: center;
}

section.navbar .title {
    color: #ccc;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.45rem 1rem;
}

section.navbar i.logo {
    color: #ccc;
    position: absolute;
    letter-spacing: 0.5px;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: start;
    align-items: center;
    width: calc(100% - 1em);
    padding: 0.5rem 0.8rem;
}

section.navbar i.logo.end {
    justify-content: end;
}

section.navbar button:hover:before {
    content: attr(data-label);
}

section.navbar button.close {
    background-color: #ff5f56;
    box-shadow: 0 0 0 0.5px #e0443e;
    border-radius: 50%;
    transition: transform 0.1s ease-in;
}

section.navbar button.maximize {
    background-color: #ffbd2e;
    box-shadow: 0 0 0 0.5px #dea123;
    border-radius: 50%;
    transition: transform 0.1s ease-in;
}

section.navbar button.minimize {
    background-color: #27c93f;
    box-shadow: 0 0 0 0.5px #1aab29;
    border-radius: 50%;
    transition: transform 0.1s ease-in;
}

section.navbar button i {
    font-weight: 800;
    opacity: 0;
    font-size: 0.6rem;
    color: #353535;
}

section.navbar button:hover {
    transform: scale(1.25);
}

section.navbar button:hover > i {
    opacity: 1;
}

section.main-ctn {
    width: 100%;
    height: calc(100% - 2em);
}