@import url("./lib/css/app.css");
@import url("./theme.css");

@font-face {
	font-family: "Space Grotesk";
	src: url("../assets/font/SpaceGrotesk-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Space Grotesk", serif;
	font-weight: 400;
	font-style: normal;
	user-select: none;
	outline: none;
	color: var(--_-c);
	transition:
		background var(--_-tr-spd),
		color var(--_-tr-spd);
}

*::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 0.75em;
	width: 5px;
	height: 5px;
	transition-duration: 0.4s;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #76767644;
	border-radius: 0.75em;
	width: 5px;
	height: 5px;
	transition-duration: 0.4s;
}

*::-webkit-scrollbar {
	background-color: #0000;
	border-radius: 0.75em;
	width: 5px;
	height: 5px;
	transition-duration: 0.4s;
}

body,
#root {
	width: 100vw;
	height: 100vh;
	background: var(--_-bg_c);
	color: var(--_-c);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

i.fa-regular {
	width: 1em;
}

section.navbar {
	width: 100%;
	height: 2em;
	min-height: 2em;
	max-height: 2em;
	border-bottom: solid 0.9px hsla(0, 0%, 80%, 0.2);
	-webkit-app-region: drag;
}

section.navbar .container {
	position: absolute;
	top: 0.45em;
	left: 0.6em;
	box-shadow: none !important;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 1em;
}

section.navbar .container.end {
	position: absolute;
	top: 0.45em;
	right: 0.6em;
	left: auto;
	box-shadow: none !important;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 1em;
}

section.navbar .container .control {
	grid-template-columns: repeat(3, 0.8em);
	align-items: center;
	gap: 0.5em;
	height: 100%;
	display: flex;
	flex-direction: row;
}

section.navbar .container.end .control {
	display: flex;
	flex-direction: row-reverse;
}

section.navbar .container .control button {
	color: #353535;
	vertical-align: middle;
	user-select: none;
	appearance: none;
	display: inline-flex;
	border-radius: 0;
	outline: 0;
	justify-content: center;
	align-items: center;
	z-index: 200;
	-webkit-app-region: no-drag;
	border: none;
	border-radius: 50%;
	width: 0.8em;
	height: 0.8em;
	cursor: pointer;
	text-align: center;
}

section.navbar .title {
	color: #ccc;
	letter-spacing: 0.5px;
	font-size: 0.9em;
	font-weight: 500;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0.45em 0em;
}

section.navbar i.logo {
	color: #ccc;
	position: absolute;
	letter-spacing: 0.5px;
	font-size: 1em;
	font-weight: 500;
	display: flex;
	justify-content: start;
	align-items: center;
	width: calc(100% - 1em);
	padding: 0.5em 0.8em;
}

section.navbar i.logo.end {
	justify-content: end;
}

section.navbar button:hover:before {
	content: attr(data-label);
}

section.navbar button.close {
	background-color: #ff5f56;
	box-shadow: 0 0 0 0.5px #e0443e;
	border-radius: 50%;
	transition: transform 0.1s ease-in;
}

section.navbar button.maximize {
	background-color: #ffbd2e;
	box-shadow: 0 0 0 0.5px #dea123;
	border-radius: 50%;
	transition: transform 0.1s ease-in;
}

section.navbar button.minimize {
	background-color: #27c93f;
	box-shadow: 0 0 0 0.5px #1aab29;
	border-radius: 50%;
	transition: transform 0.1s ease-in;
}

section.navbar button i {
	font-weight: 800;
	opacity: 0;
	font-size: 0.6em;
	color: #353535;
}

section.navbar button:hover {
	transform: scale(1.25);
}

section.navbar button:hover > i {
	opacity: 1;
}

section.main-ctn {
	width: 100%;
	height: calc(100% - 2em);
}

.workspace {
	width: 100%;
	height: 100%;
	background: var(--_-ws_c);
	display: flex;
	flex-direction: row;
}

.workspace .side-panel {
	flex-shrink: 0;
	margin: 15px;
	margin-right: 5px;
	border-radius: 10px;
	width: 20%;
	height: calc(100% - 35px);
	min-width: 120px;
	max-width: 280px;
	background: var(--_-bg_c);
	border: 2px solid var(--_-ws_b_c);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
}

.workspace .side-panel .profile-info {
	width: calc(100% - 2em);
	margin-top: 0.5em;
	padding: 0.4em;
	height: 2.8em;
	background: var(--_-card-bg);
	box-shadow: 0px 3px 8px var(--sh-c);
	border-radius: 0.6em;
	border: 2px solid var(--_-ws_b_c);
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

.workspace .side-panel .tabs {
	width: calc(100% - 2em);
	margin-top: 0.5em;
	padding: 0.4em;
	background: var(--_-card-bg);
	box-shadow: 0px 3px 8px var(--sh-c);
	border-radius: 0.6em;
	border: 2px solid var(--_-ws_b_c);
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.workspace .side-panel .tabs .tab {
	width: calc(100% - 0.8em);
	padding: 0.4em;
	border-radius: 0.6em;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
	background: var(--_-card-bg);
	&:hover {
		background: var(--_-ws_b_c);
	}
	&.actived {
		background: var(--_-ws_b_c);
	}
}

.workspace .side-panel .tabs .tab i {
	font-size: 1.4em;
}

.workspace .side-panel .tabs .tab p {
	font-size: 1.2em;
}

.workspace .side-panel .profile-info .text {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.workspace .side-panel .profile-info .icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.workspace .side-panel .profile-info .icon img.profile {
	border-radius: 50%;
	width: 3.2em;
	height: 3.2em;
	object-fit: cover;
}

.workspace .side-panel .profile-info .name {
	font-size: 1.2em;
	font-weight: 600;
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.workspace .side-panel .profile-info .type {
	font-size: 0.9em;
	color: var(--_-c-t);
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.workspace .main-panel {
	flex-grow: 1;
	margin: 15px;
	margin-left: 5px;
	border-radius: 10px;
	height: calc(100% - 35px);
	background: var(--_-bg_c);
	border: 2px solid var(--_-ws_b_c);
	overflow: hidden;
}

.workspace .main-panel .container {
	position: relative;
	margin: 1em;
	display: flex;
	flex-direction: row;
	gap: 1em;
	height: calc(100% - 2em);
}

.workspace .main-panel .content {
	position: relative;
	background: var(--_-card-bg);
	width: 33.33%;
	min-height: 16em;
	padding: 1em;
	box-shadow: 0px 3px 8px var(--sh-c);
	border-radius: 0.6em;
	border: 2px solid var(--_-ws_b_c);
	animation: fadeIn 0.5s ease-in-out;
	max-height: calc(100% - 2em);
	overflow-y: auto;
	overflow-x: hidden;
}

.workspace .main-panel .content .work-week {
	display: flex;
	flex-direction: column;
}

.workspace .main-panel .content .work-week .title,
.workspace .main-panel .content .title {
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.workspace .main-panel .content .work-week .work-day {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.3em;
	background: var(--_-card-bg);
	box-shadow: 0px 3px 8px var(--sh-c);
	border-radius: 0.6em;
}

.workspace .main-panel .work-week.works {
	overflow-y: auto !important;
	height: 100%;
	width: 70%;
}

.workspace .main-panel .work-week.works .work-day {
	min-height: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	width: 96%;
}

.workspace .main-panel .work-week.works p.title {
	margin: 0.5em;
}

.workspace .main-panel .work-week.works .work-day .content {
	max-height: 16em;
	justify-content: flex-start;
}

.workspace .main-panel .work-week.works .work-day .content .ai-button {
	font-size: 2em;
}

.workspace .main-panel .work-week.works .work-day .content .info {
	width: 100%;
}

.workspace .main-panel .work-week.works .work-day .content .attachments-item {
	background: #1118;
	border: 1px solid #555;
	padding: 1em;
	border-radius: 0.5em;
	cursor: pointer;
	text-decoration: none;
}

.workspace .main-panel .content .content {
	min-height: 1.8em;
	width: calc(100% - 2em);
	display: flex;
	align-items: center;
	gap: 1em;
	height: 100%;
	background: transparent;
	border-radius: 1.6em;
	border: 1.5px solid var(--_-ws_b_c);
	cursor: pointer;
	position: relative;
	z-index: 10;
	backdrop-filter: blur(20px);
	transition:
		color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
		background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
		border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.workspace .main-panel .content .content:hover {
	background-color: hsla(calc(var(--_-af-accent)), 30%, 9%, 0.7);
}

.workspace .main-panel .content .content::before,
.workspace .main-panel .content .content::after {
	content: "";
	position: absolute;
	bottom: 0;
	height: 50%;
	width: 50%;
	border-radius: 50%;
	filter: blur(80px);
	z-index: -1;
	background: transparent;
	transition: background 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.workspace .main-panel .content .content::before {
	left: 0;
	background-color: hsl(var(--_-bf-accent), var(--_-bf-light), 50%, var(--_-bf-opacity));
}

.workspace .main-panel .content .content::after {
	right: 0;
	background-color: hsl(var(--_-af-accent), var(--_-af-light), 45%, var(--_-af-opacity));
}

.workspace .main-panel .content .content:hover::before {
	background-color: hsl(var(--_-af-accent), var(--_-af-light), 45%, var(--_-af-opacity));
}

.workspace .main-panel .content .content:hover::after {
	background-color: hsl(var(--_-bf-accent), var(--_-bf-light), 50%, var(--_-bf-opacity));
}

.workspace .main-panel .content:hover::-webkit-scrollbar-thumb,
.workspace .main-panel .content .work-week .work-day .content:hover::-webkit-scrollbar-thumb,
.workspace .main-panel .results.content:hover > .notes-ctn::-webkit-scrollbar-thumb {
	background-color: #76767644;
}

.workspace .main-panel .content .content .separator {
	background: hsl(var(--_-accent), var(--_-light), 50%, var(--_-opacity));
	width: 0.36em;
	height: 90%;
	border-radius: 0.6em;
}

.workspace .main-panel .content .work-week .work-day .content .info {
	width: calc(100% - 2em);
}

.workspace .main-panel .content .work-week .work-day .content .check {
	padding: 10px 10px;
	width: 1em;
	height: 1em;
	border-radius: 0.4em;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		background: #ccc1;
	}
}

.workspace .main-panel .content .content.normal {
	height: 5em;
}

.workspace .main-panel .content .content.expanded {
	height: 6em;
}

.workspace .main-panel .content .content.no-class {
	height: 1.8em;
}

.workspace .main-panel .content .content .info {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.workspace .main-panel .results.content {
	overflow-y: hidden;
	overflow-x: hidden;
	padding: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	width: calc(33.3% + 2em);
}

.workspace .main-panel .results.content .notes-ctn {
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column;
	display: flex;
	align-items: center;
	gap: 0.3em;
	padding: 1em;
	padding-top: 0;
	padding-bottom: 0;
	height: calc(100% - 8em);
	position: relative;
}

.workspace .main-panel .results.content .content {
	max-height: 4em !important;
}

.workspace .main-panel .content .time {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.workspace .main-panel .results.content .content .info {
	width: 70%;
}

.workspace .main-panel .results.content .moy.bottom {
	position: absolute;
	bottom: 1em;
	border-top: 1px solid var(--_-ws_b_c);
	width: calc(100% - 2.2em);
	padding: 1em;
	padding-top: 0.6em;
	padding-bottom: 0;
	height: 6em;
}

.workspace .main-panel .results.content .content.bottom .info {
	width: 100%;
}

.workspace .main-panel .content p.matter {
	font-size: 1.1em;
	overflow: hidden;
	max-width: 95%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.workspace .main-panel .schedule-day .content p.matter {
	font-size: 1.1em;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.workspace .main-panel .schedule-day .content .utils {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.4em;
}

.workspace .main-panel .content .content.no-class .utils {
	width: 79%;
}

.workspace .main-panel .schedule-day .content .status {
	display: flex;
	align-items: center;
	gap: 0.6em;
}
.workspace .main-panel .schedule-day .content .status p.change {
	background: hsl(var(--_-accent), var(--_-light), 50%, var(--_-opacity));
	padding: 0.1em 0.6em;
	border-radius: 1.6em;
	width: max-content;
}

.workspace .main-panel .carousel-container {
	position: relative;
	width: 100vw;
	overflow: hidden;
}

.workspace .main-panel .carousel-container .carousel {
	display: flex;
	gap: 0.5em;
	overflow-y: auto !important;
}

.shadow {
	z-index: 100;
	position: absolute;
	top: 0;
	width: 40px;
	height: 100%;
	pointer-events: none;
	background: rgba(255, 255, 255, 0);
	transition: background 0.2s ease;
}

.shadow--left {
	left: 0;
	border-top-left-radius: 0.6em;
	border-bottom-left-radius: 0.6em;
}

.shadow--right {
	right: 0;
	border-top-right-radius: 0.6em;
	border-bottom-right-radius: 0.6em;
}

.workspace .main-panel .carousel-container .carousel .schedule-day {
	min-width: 530px;
	height: calc(100vh - 7em);
	box-sizing: border-box;
}

.workspace .main-panel .content .work-week .work-day .content .info p.context,
.workspace .main-panel .content .content p.date {
	font-size: 1em;
	color: var(--_-c-t);
	max-height: 3em;
	max-width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.workspace .main-panel .work-week .work-day .content .info p.context {
	font-size: 0.9em !important;
	color: var(--_-c-t);
	max-width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.workspace .main-panel .content .access-pos {
	position: absolute;
	top: 0.5em;
	right: 3em;
	cursor: pointer;
}

.workspace .main-panel .content .access-pos .access {
	position: fixed;
	z-index: 100;
	background: var(--_-bg_c);
	padding: 10px;
	border: 2px solid var(--_-ws_b_c);
	width: 1.2em;
	height: 1.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.6em;
	&:hover {
		background: var(--_-bg_c_h);
	}
}

.results.content,
.schedule-day {
	flex-direction: column;
	display: flex;
	gap: 0.3em;
}

.workspace .main-panel .content:not(.work-week) .content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-height: 1.8em;
	max-height: 6em;
	width: calc(100% - 2.2em);
}

.workspace .shorcuts:hover,
.workspace .content:hover {
	box-shadow: 0px 3px 8px var(--sh-c);
}

.workspace .container .notes.content .matiere-container {
	position: relative;
}

.workspace .container .notes.content .matiere-container .matiere-name {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 2.2em);
	height: 0.8em;
	background: transparent;
	border-radius: 0;
	border-top-left-radius: 0.6em;
	border-top-right-radius: 0.6em;
	border: 1.5px solid var(--_-ws_b_c);
	cursor: pointer;
	position: relative;
	z-index: 10;
	backdrop-filter: blur(20px);
	padding: 1em;
	box-shadow: 0px 3px 8px var(--sh-c);
	&.w-b {
		border-radius: 0.6em;
	}
}

.workspace .container .notes.content .matiere-container i {
	z-index: 10;
	position: absolute;
	top: 1em;
	right: 1em;
}

.workspace .container .notes.content .matiere-container {
	margin-bottom: 1em;
}

.workspace .container .notes.content .matiere-container:last-of-type {
	margin-bottom: 0;
}

.workspace .container .notes.content .matiere-container .matiere-notes.hidden {
	display: none;
}

.workspace .container .notes.content .matiere-container .matiere-notes {
	display: flex;
	flex-direction: column;
}

.workspace .container .notes.content .matiere-container .matiere-notes .content {
	border-radius: 0;
	border: 1px solid var(--_-ws_b_c);
}

.workspace .container .notes.content .matiere-container .matiere-notes .content:last-child {
	border-bottom-left-radius: 0.6em;
	border-bottom-right-radius: 0.6em;
}

.workspace .container .notes.content .matiere-container .matiere-notes .content .view {
	background: #1118;
	border: 1px solid #555;
	padding: 1em;
	border-radius: 0.5em;
	cursor: pointer;
}

.workspace .container .panel-list {
	display: flex;
	flex-direction: column;
	width: 66.66%;
	height: 100%;
	gap: 1em;
}

.workspace .container .panel-list .panel.stats {
	position: relative;
	background: var(--_-card-bg);
	min-height: 16em;
	padding: 1em;
	box-shadow: 0px 3px 8px var(--sh-c);
	border-radius: 0.6em;
	border: 2px solid var(--_-ws_b_c);
	animation: fadeIn 0.5s ease-in-out;
	height: 50%;
	max-height: calc(100% - 2em);
	overflow-y: auto;
	overflow-x: hidden;
}

.workspace .container .panel-list .panel.info {
	position: relative;
	background: var(--_-card-bg);
	min-height: 16em;
	padding: 1em;
	box-shadow: 0px 3px 8px var(--sh-c);
	border-radius: 0.6em;
	border: 2px solid var(--_-ws_b_c);
	animation: fadeIn 0.5s ease-in-out;
	height: 45%;
	max-height: calc(100% - 2em);
	overflow-y: auto;
	overflow-x: hidden;
}

.workspace .container .panel.stats svg {
	transform: scale(1.045);
}

.workspace .container .panel.stats .moy-stats {
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.workspace .container .panel.stats .moy-stats div {
	border: 2px solid var(--_-ws_b_c);
	padding: 1em;
	background: var(--_-card-bg);
	box-shadow: 0px 3px 8px var(--sh-c);
	border-radius: 0.6em;
}

.workspace .container .panel.stats .tab-selectors {
	z-index: 100;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.workspace .container .panel.stats .tab-selectors select {
	border: 2px solid var(--_-ws_b_c);
	padding: 0.5em;
	background: var(--_-card-bg);
	box-shadow: 0px 3px 8px var(--sh-c);
	border-radius: 0.6em;
}
