/* Importation */
@import url("../lib/css/app.css");
@import url("./root.css");

/* Fonts */
@font-face {
	font-family: "Space Grotesk";
	src: url("../assets/font/SpaceGrotesk-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

/* Title Bar */
section.navbar {
	width: 100%;
	height: 2em;
	min-height: 2em;
	max-height: 2em;
	border-bottom: solid 0.9px hsla(0, 0%, 80%, 0.2);
	-webkit-app-region: drag;
}

section.navbar .container {
	position: absolute;
	top: 0.45em;
	left: 0.6em;
	box-shadow: none !important;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 1em;
}

section.navbar .container.end {
	position: absolute;
	top: 0.45em;
	right: 0.6em;
	left: auto;
	box-shadow: none !important;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 1em;
}

section.navbar .container .control {
	grid-template-columns: repeat(3, 0.8em);
	align-items: center;
	gap: 0.5em;
	height: 100%;
	display: flex;
	flex-direction: row;
}

section.navbar .container.end .control {
	display: flex;
	flex-direction: row-reverse;
}

section.navbar .container .control button {
	color: #353535;
	vertical-align: middle;
	user-select: none;
	appearance: none;
	display: inline-flex;
	border-radius: 0;
	outline: 0;
	justify-content: center;
	align-items: center;
	z-index: 200;
	-webkit-app-region: no-drag;
	border: none;
	border-radius: 50%;
	width: 0.8em;
	height: 0.8em;
	cursor: pointer;
	text-align: center;
}

section.navbar .title {
	color: #ccc;
	letter-spacing: 0.5px;
	font-size: 0.9em;
	font-weight: 500;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0.45em 0em;
}

section.navbar i.logo {
	color: #ccc;
	position: absolute;
	letter-spacing: 0.5px;
	font-size: 1em;
	font-weight: 500;
	display: flex;
	justify-content: start;
	align-items: center;
	width: calc(100% - 1em);
	padding: 0.5em 0.8em;
}

section.navbar i.logo.end {
	justify-content: end;
}

section.navbar button:hover:before {
	content: attr(data-label);
}

section.navbar button.close {
	background-color: #ff5f56;
	box-shadow: 0 0 0 0.5px #e0443e;
	border-radius: 50%;
	transition: transform 0.1s ease-in;
}

section.navbar button.maximize {
	background-color: #ffbd2e;
	box-shadow: 0 0 0 0.5px #dea123;
	border-radius: 50%;
	transition: transform 0.1s ease-in;
}

section.navbar button.minimize {
	background-color: #27c93f;
	box-shadow: 0 0 0 0.5px #1aab29;
	border-radius: 50%;
	transition: transform 0.1s ease-in;
}

section.navbar button i {
	font-weight: 800;
	opacity: 0;
	font-size: 0.6em;
	color: #353535;
}

section.navbar button:hover {
	transform: scale(1.25);
}

section.navbar button:hover > i {
	opacity: 1;
}

section.main-ctn {
	width: 100%;
	height: calc(100% - 2em);
}

/* Workspace */

.workspace {
	width: 100%;
	height: 100%;
	background: var(--_-ws_c);
	display: flex;
	flex-direction: row;
}

/* Side panel (Profile, Tabs) */

.workspace .side-panel {
	flex-shrink: 0;
	margin: 15px;
	margin-right: 5px;
	border-radius: 10px;
	width: 20%;
	height: calc(100% - 35px);
	min-width: 120px;
	max-width: 280px;
	background: var(--_-bg_c);
	border: 2px solid var(--_-ws_b_c);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
}

.workspace .side-panel .profile-info {
	width: calc(100% - 2em);
	margin-top: 0.5em;
	padding: 0.4em;
	height: 2.8em;
	background: var(--_-card-bg);
	box-shadow: 0px 3px 8px var(--sh-c);
	border-radius: 0.6em;
	border: 2px solid var(--_-ws_b_c);
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

.workspace .side-panel .profile-info .text {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.workspace .side-panel .profile-info .icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.workspace .side-panel .profile-info .icon img.profile {
	border-radius: 50%;
	width: 3.2em;
	height: 3.2em;
	object-fit: cover;
}

.workspace .side-panel .profile-info .name {
	font-size: 1.2em;
	font-weight: 600;
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.workspace .side-panel .profile-info .type {
	font-size: 0.9em;
	color: var(--_-c-t);
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.workspace .side-panel .tabs {
	width: calc(100% - 2em);
	margin-top: 0.5em;
	padding: 0.4em;
	background: var(--_-card-bg);
	box-shadow: 0px 3px 8px var(--sh-c);
	border-radius: 0.6em;
	border: 2px solid var(--_-ws_b_c);
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.workspace .side-panel .tabs .tab {
	width: calc(100% - 0.8em);
	padding: 0.4em;
	border-radius: 0.6em;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
	background: var(--_-card-bg);
	&:hover {
		background: var(--_-ws_b_c);
	}
	&.actived {
		background: var(--_-ws_b_c);
	}
}

.workspace .side-panel .tabs .tab i {
	font-size: 1.4em;
}

.workspace .side-panel .tabs .tab p {
	font-size: 1.2em;
}

/* Main Panel */

.workspace .main-panel {
	flex-grow: 1;
	margin: 15px;
	margin-left: 5px;
	border-radius: 10px;
	height: calc(100% - 35px);
	background: var(--_-bg_c);
	border: 2px solid var(--_-ws_b_c);
	overflow: hidden;
}

.workspace .main-panel .container {
	position: relative;
	margin: 1em;
	display: flex;
	flex-direction: row;
	gap: 1em;
	height: calc(100% - 2em);
}

/* Basic content */

.workspace .main-panel .content {
	position: relative;
	background: var(--_-card-bg);
	width: 33.33%;
	min-height: 16em;
	padding: 1em;
	box-shadow: 0px 3px 8px var(--sh-c);
	border-radius: 0.6em;
	border: 2px solid var(--_-ws_b_c);
	animation: fadeIn 0.5s ease-in-out;
	max-height: calc(100% - 2em);
	overflow-y: auto;
	overflow-x: hidden;
}

.workspace .main-panel .content .title {
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

/* Classic Cards */

.workspace .main-panel .content .card {
	min-height: 1.8em;
	max-height: 6em;
	width: calc(100% - 2em);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	height: 100%;
	background: transparent;
	border-radius: 1.6em;
	border: 1px solid hsl(var(--_-af-accent, var(--_-accent)) var(--_-af-light, var(--_-light)), 50%, 0.2);
	cursor: pointer;
	position: relative;
	z-index: 10;
	backdrop-filter: blur(20px);
	transition:
		color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
		background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
		border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.workspace .main-panel .content .card:hover {
	background-color: hsla(calc(var(--_-af-accent)), 90%, 9%, 0.9);
}

.workspace .main-panel .content .card::before,
.workspace .main-panel .content .card::after {
	content: "";
	position: absolute;
	bottom: 0;
	height: 50%;
	width: 50%;
	border-radius: 50%;
	filter: blur(80px);
	z-index: -1;
	background: transparent;
	transition: background 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.workspace .main-panel .content .card::before {
	left: 0;
	background-color: hsl(var(--_-bf-accent), var(--_-bf-light), 50%, var(--_-bf-opacity));
}

.workspace .main-panel .content .card::after {
	right: 0;
	background-color: hsl(var(--_-af-accent), var(--_-af-light), 45%, var(--_-af-opacity));
}

.workspace .main-panel .content .card:hover::before {
	background-color: hsl(var(--_-af-accent), var(--_-af-light), 45%, var(--_-af-opacity));
}

.workspace .main-panel .content .card:hover::after {
	background-color: hsl(var(--_-bf-accent), var(--_-bf-light), 50%, var(--_-bf-opacity));
}

.workspace .main-panel .content .card.squircle {
	border-radius: 3.2em;
	corner-shape: squircle;
}

.workspace .main-panel .content .card .separator {
	background: hsl(var(--_-accent), var(--_-light), 50%, var(--_-opacity));
	width: 6px;
	min-width: 6px;
	max-width: 6px;
	height: 90%;
	border-radius: 0.6em;
}

.workspace .main-panel .content .card.normal {
	height: 5em;
}

.workspace .main-panel .content .card.expanded {
	height: 6em;
}

.workspace .main-panel .content .card.no-class {
	height: 1.8em;
}

.workspace .main-panel .content .card .info {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.workspace .main-panel .content .card .time {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.workspace .main-panel .content .card p.matter {
	font-size: 1.1em;
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.workspace .main-panel .content .card .utils {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.4em;
}

.workspace .main-panel .content .card .utils p {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.workspace .main-panel .content .card.no-class .utils {
	width: 79%;
}

.workspace .main-panel .content .card .status {
	display: flex;
	align-items: center;
	gap: 0.6em;
}
.workspace .main-panel .content .card .status p.change {
	background: hsl(var(--_-accent), var(--_-light), 50%, var(--_-opacity));
	padding: 0.1em 0.6em;
	border-radius: 1.6em;
	width: max-content;
}

/* Schedule "Carousel" */

.workspace .main-panel .carousel-container {
	position: relative;
	width: 100vw;
	overflow: hidden;
}

.workspace .main-panel .carousel-container .carousel {
	display: flex;
	gap: 0.5em;
	overflow-y: auto !important;
}

/* Shadows (Not implemented in react) */

.shadow {
	z-index: 100;
	position: absolute;
	top: 0;
	width: 40px;
	height: 100%;
	pointer-events: none;
	background: rgba(255, 255, 255, 0);
	transition: background 0.2s ease;
}

.shadow--left {
	left: 0;
	border-top-left-radius: 0.6em;
	border-bottom-left-radius: 0.6em;
}

.shadow--right {
	right: 0;
	border-top-right-radius: 0.6em;
	border-bottom-right-radius: 0.6em;
}

/* Schedule */

.workspace .main-panel .schedule-day {
	min-width: 380px;
	height: calc(100vh - 7em);
	box-sizing: border-box;
	flex-direction: column;
	display: flex;
	gap: 0.3em;
}

/* Homework */

.workspace .main-panel .work-week {
	display: flex;
	flex-direction: column;
	overflow-y: auto !important;
	height: 100%;
	width: 100%;
}

.workspace .main-panel .work-week .days-scroll {
	flex: 1;
	overflow-y: auto;
	padding-right: 6px;
	scrollbar-width: thin;
	display: flex;
	gap: 0.5em;
}

.workspace .main-panel .work-week .days-scroll .content .progress {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
}

.workspace .main-panel .work-week .days-scroll .content svg.circle-progress {
	width: 50%;
	height: auto;
	background-color: var(--_-ws_c);
	border-radius: 0.6em;
	border: 2px solid var(--_-ws_b_c);
}

.workspace .main-panel .work-week .days-scroll .content .circle-progress-bg {
	stroke-width: 8px;
	stroke: #888;
	fill: none;
}

.workspace .main-panel .work-week .days-scroll .content .circle-progress-value {
	stroke-width: 6px;
	stroke: white;
	stroke-linecap: round;
	fill: none;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
}

.workspace .main-panel .work-week .days-scroll .content .circle-progress-text {
	font-size: 18px;
	fill: #888;
	font-weight: 600;
}

.workspace .main-panel .work-week .days-scroll .homework {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.workspace .main-panel .work-week .days-scroll .homework .day-content {
	display: flex;
	gap: 0.5em;
	flex-direction: column;
}

.workspace .main-panel .work-week .days-scroll .homework .content.card {
	max-height: max-content;
}

/* Box Shadow */

.workspace .shorcuts:hover,
.workspace .content:hover {
	box-shadow: 0px 3px 8px var(--sh-c);
}

/* Scrollbar */

.workspace .main-panel .content:hover::-webkit-scrollbar-thumb {
	background-color: #76767644;
}
